<h1>MyPages</h1>
<table class="table my-3">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @books, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

