<h1>貸出中の書籍</h1>
<% unless @books.present? %>
<div class="alert alert-info" role="alert">貸出中の書籍はありません</div>
<% else %>
  <table class="table my-3">
    <thead class="thead-light">
      <tr>
        <th>貸出中の書籍</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
<% end %>
