<h1>借りている書籍一覧</h1>
<% unless @books.present? %>
  借りている書籍はありません
<% else %>
  <table class="table my-3">
    <thead class="thead-light">
      <tr>
        <th>借りている本</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to book.title, book %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @books %>
<% end %>
